/* prof */

.prof__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.prof__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof__item:not(:last-child) {
  margin-bottom: 30px;
}

.prof__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.prof__sub-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.prof__post {
  padding: 10px;
  min-width: 140px;
  min-height: 20px;
  border: 2px solid var(--black-color);
}

.prof__sub-item {
  padding: 10px;
  border: 2px solid var(--black-color);
  font-size: 22px;
  width: 140px;
  text-align: center;
}

.prof__sub-item:not(:last-child) {
  margin-right: 15px;
}

.prof__sub-title {
  padding: 10px;
  border: 2px solid var(--black-color);
  font-size: 22px;
  min-width: 140px;
  text-align: center;
  margin-bottom: 15px;
}

.prof__filters {
  margin-bottom: 50px;
  margin-left: 110px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.prof__download-button {
  margin-top: 50px;
}

.prof__filters-graid {
  text-decoration: none;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.prof__filters-graid:hover {
  color: var(--a-hover);
}

.prof__filters-date {
  text-decoration: none;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.prof__filters-date:hover {
  color: var(--a-hover);
}

.pros__last {
  color: var(--red-color);
}